.form {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-error {
  margin: 10px 10px;
  box-sizing: border-box;
  white-space: nowrap; //damit ganze error message angezeigt wird
}
mat-form-field {
  width: 100%;
}
