<div>
    <form action="">
        <div>
            <!-- für ngModel import @ngModule FormsModule !!!-->
            <input type="email" name="email" id="email" [(ngModel)]="email"required>
            <label for="email">Email</label>
        </div>
        <div>
            <input type="password" name="password" id="password" [(ngModel)]="password" required>
            <label for="password">Password</label>
        </div>
        <div>
            <input type="password_confirm" name="password_confirm" id="password_confirm" [(ngModel)]="password_confirm" required>
            <label for="password_confirm">Confirm password</label>
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
</div>
<div>
    {{ email }}
</div>
<div>{{ password }}</div>
<div>{{ password_confirm}}</div>


