<!-- <div>
    <form action="">
        <div>
             für ngModel import @ngModule FormsModule !!!
            <input type="email" name="email" id="email" [(ngModel)]="email"required>
            <label for="email">Email</label>
        </div>
        <div>
            <input type="password" name="password" id="password" [(ngModel)]="password" required>
            <label for="password">Password</label>
        </div>
        <div>
            <input type="password_confirm" name="password_confirm" id="password_confirm" [(ngModel)]="password_confirm" required>
            <label for="password_confirm">Confirm password</label>
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
</div>
<div> 
    {{ email }}
</div>
<div>{{ password }}</div>
<div>{{ password_confirm}}</div>
-->

<!-- Übung 2 Aufgabe 2 -->
<form class="example-form" [formGroup]="formLogIn">
    <p>
        <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input matInput name="email" type="email" formControlName="email" required="">

            <!-- feld leer ist und user das Field berührt -->
            @if(formLogIn.get('email')?.hasError('required')){
                <mat-error>Bitte geben Ihre E-Mail ein</mat-error>
            }
            @if(formLogIn.get('email')?.hasError('email')) {
                <mat-error>Bitte geben Sie eine gültige E-Mail Adresse ein.</mat-error>
            }
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Passwort</mat-label>
            <input matInput type="text" name="password" formControlName="password" #pword minlength="8" required="">
            @if(formLogIn.get('password')?.hasError('required')){
                <mat-error>Bitte geben Sie das Passwort ein</mat-error>
            }
        </mat-form-field>
    </p>
    <button mat-flat-button color="primary" type="submit">Login</button>
  </form>