
<form class="example-form" [formGroup]="formSignUp">
    <p>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput name="email" type="email" formControlName="email" required="">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Passwort</mat-label>
            <input matInput type="text" name="password"formControlName="password" required="">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Passwort bestätigen</mat-label>
            <input matInput type="text" name="password_confirm" formControlName="password_confirm" required="">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width">
            <mat-label>Firma</mat-label>
            <input matInput name="company" value="FH Technikum Wien">
          </mat-form-field>
    </p>
    <table class="example-full-width" cellspacing="0">
        <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Straße</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Stadt</mat-label>
        <input matInput placeholder="Wien">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Postleitzahl</mat-label>
        <input matInput name="postal_code" formControlName="postal_code" #postalCode maxlength="4" placeholder="1200">
        <mat-hint align="end">{{postalCode.value.length}} / 4</mat-hint>
      </mat-form-field></td>
    </tr></table>
    <button mat-flat-button color="primary" type="submit">Registrieren</button>
  </form>
  